@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

input{
    border: none;
    background-color: #F8F8F8;
    color: #9E9E9E;
    padding: 1em;
    width: 50%;
}

.header{
    margin-top: -15.2em;
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #26AAE1;
    color: #fff;
    padding-left: 50px;
}

.header>h4{
     padding-right: 37.4em;
     font-size: 24px;
}

.bodyDiv {
   padding-left : 12em; 
   margin-top : 4em; 
}

@media screen and (max-width : 600px) {
    .header {
        margin-top: -3.2em;
        font-size: 10px;
        display: inline-block;
        padding-left: 1em;
    }

    .bodyDiv{
        padding-left: 2em;
        padding-right: 10em;
    }

    .header>h4{
        margin-top: 1em;
        font-size: 16px;
    }

    input{
        margin-right: 6em;
    }
}
