input{
    border: none;
    background-color: #F8F8F8;
    color: #9E9E9E;
    padding: 1em;
    width: 50%;
}

.header{
    margin-top: -15.2em;
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #26AAE1;
    color: #fff;
    padding-left: 50px;
}

.header>h4{
     padding-right: 37.4em;
     font-size: 24px;
}
