input{
    border: none;
    background-color: #F8F8F8;
    color: #9E9E9E;
    padding: 1em;
    width: 50%;
}

.headerH{
    margin-top: -9.2em;
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #26AAE1;
    color: #fff;
    padding-left: 50px;
}

.headerH>h4{
     padding-right: 36.2em;
     font-size: 24px;
}

@media screen and (max-width : 600px){
    .headerH{
         /* margin-top: -20.2em; */
        font-size: 10px;
        display: inline-block;
        padding-left: 1em;
    }

    .headerH>h4 {
        font-size: 14px;
    }
}